# Python
__pycache__/
.venv/
venv/
env/

# Secrets
.env
.env.local

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Generated / Logs
output/
outputs/
temp/
tmp/
*.log
logs/

# IDEs
.vscode/
.idea/
*.iml


# Datasets & archives
data/
dataset/
datasets/


# Auto-downloaded models & cache
.insightface/
~/.insightface/

# Model formats
*.onnx
*.pth
*.pkl
*.bin
